
<div class="row top_tiles">
        <div class="x_panel">
            <h2 data-translate="cineclubApp.pays.home.title">Pays</h2>
           <!-- <ul _ngcontent-jcn-c5="" class="breadcrumb">
                <li _ngcontent-jcn-c5="" class="breadcrumb-item">
                    <a _ngcontent-jcn-c5="" href="/angular/default/dashboard/analytics" class="ng-star-inserted"><i _ngcontent-jcn-c5="" class="feather icon-home"></i></a>
                <li _ngcontent-jcn-c5="" class="breadcrumb-item ng-star-inserted"><a _ngcontent-jcn-c5="" href="javascript:">Utilisateurs</a></li>
                <li _ngcontent-jcn-c5="" class="breadcrumb-item ng-star-inserted"><a _ngcontent-jcn-c5="" href="/angular/default/dashboard/default">Default</a></li>
            </ul>-->
        </div>
    <div class="x_panel">
        <div class="x_title">
            <jhi-alert></jhi-alert>
            <ul class="nav navbar-right panel_toolbox">
                <button class="btn btn-primary btn-add" ui-sref="pays.new">
                    <span class="glyphicon glyphicon-plus"></span> <span
                    data-translate="cineclubApp.pays.home.createLabel">Create a
							new Country</span>
                </button>

            </ul>
            <div class="clearfix"></div>

        </div>
        <div class="x_content">

    <div class="table-responsive">
        <table class="jh-table table table-striped jambo_table">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="libele"><span data-translate="cineclubApp.pays.libele">Libele</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="cineclubApp.pays.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pays in vm.pays track by pays.id">
                    <td><a ui-sref="pays-detail({id:pays.id})">{{pays.id}}</a></td>
                    <td>{{pays.libele}}</td>
                    <td>{{pays.description}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="pays-detail({id:pays.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pays.edit({id:pays.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pays.delete({id:pays.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
