<div>
    <h2 data-translate="cineclubApp.adresse.home.title">Adresses</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="adresse.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="cineclubApp.adresse.home.createLabel">
                        Create new Adresse
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="telephone1"><span data-translate="cineclubApp.adresse.telephone1">Telephone 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="telephone2"><span data-translate="cineclubApp.adresse.telephone2">Telephone 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="adresse"><span data-translate="cineclubApp.adresse.adresse">Adresse</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span data-translate="cineclubApp.adresse.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="cineclubApp.adresse.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="latitude"><span data-translate="cineclubApp.adresse.latitude">Latitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="longitude"><span data-translate="cineclubApp.adresse.longitude">Longitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="adresse in vm.adresses track by adresse.id">
                    <td><a ui-sref="adresse-detail({id:adresse.id})">{{adresse.id}}</a></td>
                    <td>{{adresse.telephone1}}</td>
                    <td>{{adresse.telephone2}}</td>
                    <td>{{adresse.adresse}}</td>
                    <td>{{adresse.email}}</td>
                    <td>{{adresse.description}}</td>
                    <td>{{adresse.latitude}}</td>
                    <td>{{adresse.longitude}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="adresse-detail({id:adresse.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="adresse.edit({id:adresse.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="adresse.delete({id:adresse.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
