
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySalleLabel" data-translate="cineclubApp.salle.home.createOrEditLabel">Create or edit a Salle</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.salle.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.salle.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cineclubApp.salle.libele" for="field_libele">Libele</label>
            <input type="text" class="form-control" name="libele" id="field_libele"
                    ng-model="vm.salle.libele"
                    required/>
            <div ng-show="editForm.libele.$invalid">
                <p class="help-block"
                    ng-show="editForm.libele.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cineclubApp.salle.pathCouverture" for="field_pathCouverture">Path Couverture</label>
            <input type="text" class="form-control" name="pathCouverture" id="field_pathCouverture"
                    ng-model="vm.salle.pathCouverture"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cineclubApp.salle.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="vm.salle.code"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cineclubApp.salle.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.salle.description"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cineclubApp.salle.nombrePlaceTotale" for="field_nombrePlaceTotale">Nombre Place Totale</label>
            <input type="number" class="form-control" name="nombrePlaceTotale" id="field_nombrePlaceTotale"
                    ng-model="vm.salle.nombrePlaceTotale"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cineclubApp.salle.nombrePlaceBalcon" for="field_nombrePlaceBalcon">Nombre Place Balcon</label>
            <input type="number" class="form-control" name="nombrePlaceBalcon" id="field_nombrePlaceBalcon"
                    ng-model="vm.salle.nombrePlaceBalcon"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cineclubApp.salle.nombrePlaceClasique" for="field_nombrePlaceClasique">Nombre Place Clasique</label>
            <input type="number" class="form-control" name="nombrePlaceClasique" id="field_nombrePlaceClasique"
                    ng-model="vm.salle.nombrePlaceClasique"
                    />
        </div>

        <div class="form-group">
            <label data-translate="cineclubApp.salle.adresse" for="field_adresse">Adresse</label>
            <select class="form-control" id="field_adresse" name="adresse" ng-model="vm.salle.adresseId" ng-options="adresse.id as adresse.id for adresse in vm.adresses | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="cineclubApp.salle.ville" for="field_ville">Ville</label>
            <select class="form-control" id="field_ville" name="ville" ng-model="vm.salle.villeId" ng-options="ville.id as ville.libele for ville in vm.villes"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="cineclubApp.salle.cinema" for="field_cinema">Cinema</label>
            <select class="form-control" id="field_cinema" name="cinema" ng-model="vm.salle.cinemaId" ng-options="cinema.id as cinema.libele for cinema in vm.cinemas"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
