<div>
    <h2 data-translate="cineclubApp.film.home.title">Films</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="film.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="cineclubApp.film.home.createLabel">
                        Create new Film
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="titre"><span data-translate="cineclubApp.film.titre">Titre</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pathCouverture"><span data-translate="cineclubApp.film.pathCouverture">Path Couverture</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bandeAnnonce"><span data-translate="cineclubApp.film.bandeAnnonce">Bande Annonce</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="couverture"><span data-translate="cineclubApp.film.couverture">Couverture</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="cineclubApp.film.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="resume"><span data-translate="cineclubApp.film.resume">Resume</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="duree"><span data-translate="cineclubApp.film.duree">Duree</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="realisateur"><span data-translate="cineclubApp.film.realisateur">Realisateur</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateSortie"><span data-translate="cineclubApp.film.dateSortie">Date Sortie</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="categorieId"><span data-translate="cineclubApp.film.categorie">Categorie</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="film in vm.films track by film.id">
                    <td><a ui-sref="film-detail({id:film.id})">{{film.id}}</a></td>
                    <td>{{film.titre}}</td>
                    <td>{{film.pathCouverture}}</td>
                    <td>{{film.bandeAnnonce}}</td>
                    <td>
                        <a ng-if="film.couverture" ng-click="vm.openFile(film.couvertureContentType, film.couverture)" data-translate="entity.action.open">open</a>
                        <span ng-if="film.couverture">{{film.couvertureContentType}}, {{vm.byteSize(film.couverture)}}</span>
                    </td>
                    <td>{{film.description}}</td>
                    <td>{{film.resume}}</td>
                    <td>{{film.duree}}</td>
                    <td>{{film.realisateur}}</td>
                        <td>{{film.dateSortie | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="categorie-film-detail({id:film.categorieId})">{{film.categorieId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="film-detail({id:film.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="film.edit({id:film.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="film.delete({id:film.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
